<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Config.Secrets.Example.plist
   TMapsSample

   Created by Tagipedia on 6/10/18.
   Copyright (c) 2018 Tagipedia. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>LocationIdentifier</key>
        <string></string>
        <key>AppToken</key>
        <string></string>
        <key>AppID</key>
        <string></string>
    </dict>
</plist>
